.DS_Store
CollectionViewTest.xcodeproj/project.xcworkspace/xcuserdata/igorponomarenko.xcuserdatad/UserInterfaceState.xcuserstate
CollectionViewTest.xcodeproj/xcuserdata/igorponomarenko.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist